<div class="col-2 ml-4 sideBarAdmin">
	<div>
		<a href="{{ path('admin_home')}}">
			<p class="mt-3">
				<i class="fas fa-store"></i>Accueil
			</p>
		</a>
	</div>
	<div>
		<a href="{{ path('list_product')}}">
			<p class="mt-3">
				<i class="fas fa-copyright"></i>Produit
			</p>
		</a>
	</div>
	<div>
		<a href="{{ path('list_category')}}">
			<p class="mt-3">
				<i class="fas fa-copyright"></i>Categorie
			</p>
		</a>
	</div>
	<div>
		<a href="{{ path('public_home')}}" class="btn btn-primary mt-3">
			Retour
		</a>
	</div>
	<a href=""></a>
</div>
